@CHARSET "UTF-8";

.foreground path {
	fill: none;
	stroke-opacity: .7;
	stroke-width: 2px;
}

.brush .extent {
	fill-opacity: .3;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.axis line,.axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	text-shadow: 0 1px 0 #fff;
	cursor: move;
}

#plot_imagens {
	padding: 0 0;
	margin: 0px;
	min-height: 100%;
	padding-bottom: 70px;
	overflow: hidden;
	text-align: center;
}