
p {
	text-align: justify;
	margin:10px auto;			
	
}

.top-1{
	width: 980px;
	margin:0 auto;			
	text-align:left; 
}
.top-1 p{
	text-align: justify;
}

@charset "UTF-8";


.ng-cloak {
  display: none;
}

body {
	padding: 0 0;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:20px;
	margin:0;
	padding:0;	
}


.list{
	width: 980px;
	margin:0 auto;			
	text-align:left; 

}

.fonte{
	margin:0 auto;
	line-height:30px;
}
.formula {

	text-align: right;
	padding: 10px 60px;
	margin:0 auto;

}
.list ul {
	list-style-type:none;
	 
}
.list ol {
	list-style-type:none;
}
.list ol .ol-2{
	list-style-type:upper-roman;
}

.list ol .ol-3{
	list-style-type:lower-roman;
}


.top-1 h1{
	font-size:30px;
}
.top-1 h2{
	font-size:25px;
}
.top-1 h3{
	font-size:20px;
}
