<!DOCTYPE HTML>

<html lang="en">

<head>

	<meta charset="utf-8">
	<title>Mais.Edu</title>
	<link rel="icon" type="image/png" href="img/favicon.png" />


	<link rel="stylesheet" href="css/bootstrap.min.css">

	<script src="js/jquery.min.js">
	</script>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/header.css">

	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<!-- Bootstrap CSS fixes for IE6 -->
	<!--[if lt IE 7]>
	<link rel="stylesheet" href="css/bootstrap-ie6.min.css">
	<![endif]-->

	<link rel="stylesheet" href="css/blueimp-gallery.min.css">
	
	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" href="css/jquery.fileupload-ui.css">
	<!-- CSS adjustments for browsers with JavaScript disabled -->
	<noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
	
	<script>
		$(document).ready(function(){	
		  $("#uploadTab").click(function(){
			$(".template-download.fade.in").fadeOut(0);
			$(".span7").fadeIn(0);
			$(".template-upload.fade.in").fadeIn('fast');
			
			$('#downloadTab').removeClass('active');
			$('#uploadTab').addClass('active');

		  });
		  
		  $("#downloadTab").click(function(){
			$(".template-upload.fade.in").fadeOut(0);
			$(".span7").fadeOut(0);
			$(".template-download.fade.in").fadeIn('fast');
			$('#uploadTab').removeClass('active');
			$('#downloadTab').addClass('active');
		  });
		});
	</script>
	
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li ><a href="../index.html">Pagina Inicial</a></li>
	              <li class="active"><a href="">Inserção de Dados</a></li>
	              <li><a href="../dominio do problema.html">Como funciona o financiamento da educação na PB</a></li>
	              <li><a href="../documents/US01.pdf"  target="_blank" >Se você gosta de estatística...</a></li>
	              
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
	
	<div class="title head">
		<h1 >Mais.Edu</h1>
		<p>Inserir dados no sistema Mais.Edu</p>
	</div>
	
	<div class="geral">
	<div style="width:960px;margin-left:auto; margin-right:auto; margin-top:20px;">
			<ul class="nav nav-tabs" >
				<li  id="uploadTab" class="active"><a  href="#"><h2 class="lead">Upload de arquivos</h2></a></li>
				<li id="downloadTab" ><a href="#"><h2 class="lead">Controle de versão</h2></a></li>
			</ul>
			<blockquote>

			</blockquote>
	</div>
	<div class="container"  style="width:900px">

		<form id="fileupload" method="POST" enctype="multipart/form-data">
		
			<!-- Redirect browsers with JavaScript disabled to the origin page -->
			
			<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
			<div class="row fileupload-buttonbar">
			
				<div class="span7" style="width:400px">
					<!-- The fileinput-button span is used to style the file input field as button -->
					
					
					<span class="btn btn-success fileinput-button" >
						<i class="icon-plus icon-white"></i>
						<span>Adicionar Arquivos</span>
						<input type="file" name="files[]" multiple>
					</span>
					
					<!-- The loading indicator is shown during file processing -->
					<span class="fileupload-loading"></span>
				</div>
				<!-- The global progress information -->
				<div class="span5 fileupload-progress fade">
					<!-- The global progress bar -->
					<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
						<div class="bar" style="width:0%;"></div>
					</div>
					<!-- The extended global progress information -->
					<div class="progress-extended">&nbsp;</div>
				</div>
			</div>
			<!-- The table listing the files available for upload/download -->
			<table role="presentation" class="table table-striped">
				<tbody class="files">
				
				</tbody>
			</table>
			
			<div class="row fileupload-buttonbar">
				<div class="span7" style="width:100%;text-align:right;margin-left:10px;">
					<!-- The fileinput-button span is used to style the file input field as button -->
					<button type="submit" style="font-size:large;" class="btn btn-primary start">
						<i class="icon-upload icon-white" ></i>
						<span>Iniciar Upload</span>
					</button>
				</div>
			</div>
			
		</form>
		<br/>
		
		
	</div>

	<!-- The template to display files available for upload -->
	<script id="template-upload" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
		<tr class="template-upload fade">
			
			<td>
				<p class="name" >{%=file.name%}</p>
				{% if (file.error) { %}
					<div><span class="label label-important">Falha</span> {%=file.error%}</div>
				{% } %}
			</td>
			<td>
				<p class="size">{%=o.formatFileSize(file.size)%}</p>
				{% if (!o.files.error) { %}
					<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
				{% } %}
			</td>
			
			<td style="text-align:right;" >
				{% if (!o.files.error && !i && !o.options.autoUpload) { %}
					<button class="btn btn-primary start" style="display:none;">
						<i class="icon-upload icon-white"></i>
						<span>Iniciar</span>
					</button>
				{% } %}
				
				{% if (!i) { %}
					<button class="btn btn-warning cancel">
						<i class="icon-ban-circle icon-white"></i>
						<span>Cancelar</span>
					</button>
				{% } %}
			</td>
		</tr>
	{% } %}
	</script>
	
	<!-- The template to display files available for download -->

	
	<script id="template-download" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
		<tr class="template-download fade"  style="display:none;">
			
			<td>
				<p class="name">
					<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
				</p>
				{% if (file.error) { %}
					<div><span class="label label-important">Falha</span> {%=file.error%}</div>
				{% } %}
			</td>
			<td>
				<span class="size">{%=o.formatFileSize(file.size)%}</span>
			</td>
			<td style="text-align:right;">
				<button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
					<i class="icon-trash icon-white"></i>
					<span>Excluir</span>
				</button>
				
			</td>
		</tr>
	{% } %}
	</script>
	<hr/>
		<div id="footer">
			<p>Analytics - UFCG (2013)</p>
			<p>TCE-PB</p>

		</div>
	<a id="done" data-toggle="modal" href="#donePopup" ></a>
		<!-- Modal -->
	<div class="modal fade" id="donePopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  style="display:none;">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			  <h2 class="modal-title" style="text-align: center;">Upload Concluído</h2>
			</div>
			<div class="modal-body" >
			  O arquivo foi carregado com sucesso no sistema!
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
			  <a href="../"><button type="button" class="btn btn-primary">Ir para Mais.Edu</button></a>
			</div>
		  </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<a id="fail" data-toggle="modal" href="#failPopup" ></a>

	<!-- Modal -->
	<div class="modal fade" id="failPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h2 class="modal-title" style="text-align: center;">Falha no Upload</h2>
		</div>
		<div class="modal-body" >
		  O arquivo não foi carregado com sucesso no sistema!
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
		  <a href="../"><button type="button" class="btn btn-danger Delete">Ir para Mais.Edu</button></a>
		</div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



<script src="js/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="js/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="js/blueimp-gallery.min.js"></script>
<script src="js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
</body> 


</html>
